# Base file was taken from: https://php.watch/articles/composer-gitattributes

# Exclude build/test/docs/ide files from archive
/.github            export-ignore
/.phive             export-ignore
/.psalm             export-ignore
/build              export-ignore
/docs               export-ignore
/examples           export-ignore
/js                 export-ignore
/phpstan            export-ignore
/tests              export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.editorconfig      export-ignore
/.README.md         export-ignore
/.gitignore         export-ignore
/.php_cs            export-ignore
/.php_cs.dist       export-ignore
/.travis.yml        export-ignore
/phpunit.xml        export-ignore
/phpunit.xml.dist   export-ignore
/.vscode            export-ignore
/.idea              export-ignore
/.zed               export-ignore
/package.json       export-ignore
/package-lock.json  export-ignore
/workbench          export-ignore
/testbench.yaml     export-ignore

# Configure diff output
*.php diff=php
*.phar -diff
*.txt text eol=lf
*.md text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.gif binary
*.jpg binary
*.png binary
